node_modules
vendor
build
composer.phar
.DS_Store
credentials*.json
.env.*
.env
.qodo
.idea
.sisyphus
.phpunit.result.cache
composer.lock
symfony.lock
yarn.lock
var/cache/*
var/log/*
var/sessions/*
var/tmp/*
templates/cat
AGENTS.md
wkhtmltoimage
wkhtmltopdf
config/secrets/firebase-service-account.json
public/hd/*/products/*
public/hd/*/offers/answers/
public/hd/*/products/docs/*
public/hd/*/pdf/*
public/hd/*/mails/*
public/hd/*/offers/*
public/hd/*/requests/*
public/hd/*/logo/*
public/hd/*/uploads/*
public/hd/*/user/*
public/hd/*/faq/*.mp4
